{% extends "base.html" %}
{% block content %}

<h1>Login</h1>

{% if wrongPassword %}
<p>Benutzername oder Passwort ist falsch!</p>
{% endif %}

<form method="post">
    {% csrf_token %}
    <input type="hidden" name="redirect" value="{{ redirect }}">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="username">
        <label class="mdl-textfield__label" for="sample3">Username</label>
    </div>
   <!--  <div><input name="username" type="text"></div> -->
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="password">
        <label class="mdl-textfield__label" for="sample3">Password</label>
    </div>
    <!-- <div><input name="password" type="password"></div> -->
    <div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Login
      </button>
    </div>
</form>
{% endblock  %}