{% extends "base.html" %}
{% block content %}

<h1>Register a New User</h1>

{% comment %} {% if wrongPassword %}
<p>Benutzername oder Passwort ist falsch!</p>
{% endif %} {% endcomment %}

<form method="post" action="/register/">
    {% csrf_token %}
    <input type="hidden" name="redirect" value="{{ redirect }}">
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="username">
        <label class="mdl-textfield__label" for="sample3">Username</label>
    </div>
   <!--  <div><input name="username" type="text"></div> -->
    <div class="mdl-textfield mdl-js-textfield mdl-textfield--floating-label">
        <input class="mdl-textfield__input" type="text" name="password">
        <label class="mdl-textfield__label" for="sample3">Password</label>
    </div>
    <!-- <div><input name="password" type="password"></div> -->
    <div>
        <button class="mdl-button mdl-js-button mdl-button--raised mdl-js-ripple-effect mdl-button--accent">
        Register
      </button>
    </div>
</form>
{% endblock  %}

{% comment %} <form action="/auth/register/" method="post">
    {% csrf_token %}
    {{ form }}
    <button>Submit</button>
</form>
{% endblock  %} {% endcomment %}